body {
    font-family: Arial,sans-serif;
    background-color: hsl(310, 47%, 66%);
}

h1{
    color: hwb(300 50% 8%)
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 0%,0%,0.3);
}

#textbox{
      width: 50%;
      text-align: center;
      font-size: 2em;
      border: 2px solid hsl(0, 0%, 0%, 0.8);
      border-radius: 4px;
      margin-bottom: 15px;
}

label{
     font-size: 1.5em;
     font-weight: bold;
}

button{
     margin-top: 15px;
     background-color: pink;
     font-size: 1.5em;
     border: none;
     padding: 10px 15px ;
     border-radius: 5px;
     cursor: pointer;
}

button:hover{
       background-color:  hsl(300, 73%, 63%);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}
